/*
 Theme Name: Handyman Franchise Child
 Theme URI:
 Description: child theme for Handyman Franchise
 Author: Ignitro Studios
 Author URI: https://www.ignitro.com/
 Template: handyman-franchise
 Version: 1.0.5
*/
/* CLAI Sidebar CSS for Location and Area pages */

.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}

.area-breadcrumb {
  padding-left: 70px;
  padding-right: 70px;
}

.area-page-container {
  max-width: 100%;
  margin-bottom: 2em;
}

.area-container-with-sidebar {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  column-gap: 2em;
  margin: 4em auto 4em auto;
  max-width: 90%;
}

.sidebar-areas-list-container {
  background-color: #f5f5f5;
  padding: 35px 40px 35px 40px;
  height: fit-content;
  margin: 2em 0 0 0;
  border-radius: 14px;
}

.active-area {
  text-decoration: underline !important;
}

.sidebar-areas-list {
  display: grid;
  row-gap: 0.5em;
  max-height: 300px;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(rgb(245, 245, 245) 30%, rgba(255, 255, 255, 0))
      center top,
    linear-gradient(rgba(255, 255, 255, 0), rgb(245, 245, 245) 70%) center
      bottom,
    radial-gradient(
        farthest-side at 50% 0,
        rgba(133, 133, 133, 0.2),
        rgba(0, 0, 0, 0)
      )
      center top,
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(133, 133, 133, 0.2),
        rgba(0, 0, 0, 0)
      )
      center bottom;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.sidebar-areas-list a {
  text-decoration: none;
  font-size: 1.05rem;
  margin-top: 1em;
}

.area-list-container h3 {
  margin-bottom: 20px;
}

ul.area-list-ul {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 1em;
  list-style: none;
  grid-template-columns: auto auto auto auto auto;
}

.sidebar-list-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

li.area-list-point::before {
  content: '';
  position: absolute;
  top: 0.6em;
  left: 0;
  width: 0.556em;
  height: 0.556em;
  border-radius: 50%;
  background-color: black;
}

li.sidebar-list-point::marker {
  content: none;
}

li.sidebar-list-point {
  padding: unset;
}

li.sidebar-list-point a {
  color: #00529c;
  text-decoration: none;
}

li.area-list-point {
  font-size: 1rem;
  line-height: 1.7;
  position: relative;
  padding: 0.1em 0 0.1em 1.5em;
}

.area-cta-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
  width: fit-content;
  margin: auto;
}

.area-cta-container a {
  font-size: 18px !important;
  min-width: 200px;
  text-decoration: none;
}

.herofluid #field_10_15 p {
  color: #000 !important;
}

.herocopy-mobile,
.specialist-section {
  display: none;
}

@media only screen and (max-width: 767px) {
  ul.area-list-ul {
    grid-template-columns: auto;
    margin-bottom: 1em;
  }

  .area-cta-container {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 640px) {
  .d-md-down-none {
    display: none !important;
  }
  .d-md-down-block {
    display: block !important;
  }
  #navTablet .grid {
    align-items: center;
  }

  #navTablet .mobilePhone {
    background-color: #fdb827;
    padding: 14px 18px;
    line-height: 1;
    color: #fff !important;
    font-size: 14px;
    margin-top: 0px;
  }
  #navTablet .mobilePhone .fa-phone-volume:before {
    content: '\f879';
  }

  .mainLogo {
    padding: 0;
    margin: 0 !important;
    max-width: 153px !important;
    width: 100%;
  }
  .mburger strong {
    height: 3px;
  }
  .franchise-footer {
    max-width: unset;
    font-size: 14px;
  }
  .franchise-footer .menu-quick-links-container ul li a {
    font-size: 14px;
  }
  .franchise-footer .plain-link,
  .franchise-footer .small-text {
    font-size: 12px !important;
  }
  .franchise-footer .phone-link {
    font-size: 1.5rem;
  }
  .slick-next,
  .slick-prev {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }
  .slick-slider .fa-angle-right::before {
    content: '\f0da' !important;
    font-size: 35px;
  }
  .slick-slider .fa-angle-left::before {
    content: '\f0d9' !important;
    font-size: 35px;
  }

  .herofluid {
    padding-top: 0px;
    background-position: right top !important;
  }
  .herofluid .herocaption {
    background-color: rgba(0, 82, 156, 0.9);
    color: #fff;
    padding: 35px 24px;
  }
  .herofluid .herocaption h1.heroheadings {
    font-size: 23px;
    text-wrap: balance;
    line-height: 27px;
  }
  .herofluid .herocaption h2.heroFormTitle {
    font-size: 14px;
    text-wrap: balance;
    line-height: 18px;
  }
  .herofluid .herocaption h1.heroheadings,
  .herofluid .herocaption h2.heroFormTitle {
    color: #fff;
    text-align: center;
  }
  .herofluid .homepageForm_wrapper {
    max-width: 100% !important;
    margin-top: 20px;
  }
  .herofluid .homepageForm_wrapper label,
  .herofluid .homepageForm_wrapper legend {
    font-size: 9px;
  }
  .herofluid #field_10_15 p {
    text-align: center;
    color: #fff !important;
    font-size: 9px !important;
  }
  .herofluid #field_10_15 p a {
    color: #fdb827;
  }
  #label_10_10_1 span {
    font-size: 9px;
    line-height: 12.7px;
  }
  .herocopy {
    margin-top: 0px !important;
    padding: 10px 0 !important;
    display: none;
  }
  .herocopy p strong {
    font-size: 9px !important;
  }
  .herocopy p {
    color: #fff !important;
    font-size: 9px !important;
  }
  #gform_10 .gfield .ginput_container {
    padding-right: 0px !important;
  }
  .homepageForm input {
    margin-top: 0px !important;
  }
  .announcement {
    padding: 5px 30px;
    line-height: 13px;
  }

  .announcement .popup-with-zoom-anim {
    font-size: 11px;
    line-height: 13px;
  }

  .announcement .popup-with-zoom-anim .fa-bullhorn,
  .mobile-hide {
    display: none;
  }

  #gform_10 input[type='submit'],
  .herocopy .yellow-btn {
    font-size: 11px !important;
    line-height: 14px;
    max-width: 100%;
    height: 38px;
  }

  .herocopy-mobile,
  .herocopy-mobile .herocopy {
    display: block;
    background-color: #f6f6f6;
  }
  .herocopy-mobile .herocopy p {
    color: #000 !important;
    text-align: center;
    font-size: 12px !important;
    line-height: 15px;
  }
  .herocopy-mobile .herocopy p strong {
    color: #00529c !important;
    font-weight: 600;
    font-size: 12px !important;
    line-height: 15px;
  }
  .herocopy-mobile .herocopy .yellow-btn {
    display: inline-flex;
    align-self: center;
    justify-self: center;
    width: unset !important;
    padding: 10px 30px !important;
  }

  .service-grid__slider,
  .gallery-container-slider,
  .article-list-items {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .service-grid__slider img,
  .gallery-container-slider img {
    width: 100% !important;
    height: unset !important;
  }
  .service-grid__slider .slick-prev,
  .gallery-container-slider .slick-prev,
  .article-list-items .slick-prev {
    left: -50px;
  }
  .service-grid__slider .slick-next,
  .gallery-container-slider .slick-next,
  .article-list-items .slick-next {
    right: -50px;
  }

  .service-grid,
  .testimonial-links,
  .gallery-section {
    text-align: center;
  }
  .service-grid .yellow-btn,
  .testimonial-links a,
  .gallery-section a {
    font-size: 11px !important;
    line-height: 14px;
    height: 38px;
    width: unset !important;
    display: inline-flex !important;
    padding-left: 17px;
    padding-right: 17px;
  }

  /* Form Page */

  #gform_next_button_8_1 {
    background: #fdb827 !important;
    border: none !important;
    font-size: 12px !important;
  }
  #gform_next_button_8_1:hover {
    background: #db9f1d;
  }

  .cta-bar__container .yellow-btn {
    font-size: 11px !important;
    line-height: 14px;
    height: 38px;
    width: unset !important;
    display: inline-flex !important;
    padding-left: 17px !important;
    padding-right: 17px !important;
  }

  /* single-services */

  .single-services .heroGrid .heroRight {
    background-color: unset;
  }
  .single-services .heroGrid .heroRight h1,
  .single-services .heroGrid .heroRight a {
    display: none;
  }
  .single-services .heroGrid .heroRight p {
    text-align: center;
    color: #000 !important;
  }

  .single-services .heroGrid .heroLeft h1 {
    color: #fff;
  }

  .single-services .heroGrid .heroLeft {
    height: 250px;
    align-content: center;
    text-align: center;
  }
  .single-services .heroGrid .heroLeft a {
    background-color: #db9f1d;
    align-self: center;
    display: inline-flex !important;
    padding: 12px 24px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    line-height: 14px;
  }

  .article-section .col-sm-4 *,
  .article-section .col-sm-6 * {
    padding-left: 0 !important;
  }
  .single-services .article-section .blog-card-img {
    height: 80px;
  }

  /* specialist-section */

  .specialist-section {
    background-color: #f6f6f6;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
  }
  .specialist-section h3 {
    color: #00529c;
  }
  .specialist-section h4 {
    font-size: 13px;
    text-align: center;
    margin-top: 0;
  }

  .icon-view {
    max-width: 165px;
    margin: 0 auto;
    border: 1px solid #fdb827;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .icon-view .icon {
    max-width: 75px;
    margin: 0 auto;
  }
  .icon-view .icon img {
    width: 100%;
    height: auto;
  }
  .specialist-item p {
    font-size: 14px;
  }
  .specialist-item p span {
    color: #00529c;
  }

  .specialist-section .slick-track {
    display: flex !important;
  }
  .specialist-section .specialist-item {
    height: auto;
    display: flex;
  }
  .specialist-section .specialist-slider {
    padding-block: 20px;
  }

  .specialist-section .slick-next {
    right: -25px;
  }
  .specialist-section .slick-prev {
    left: -25px;
  }

  .service-h h3:first-child,
  .service-h h3:first-child + ul {
    display: none;
  }

  .single-services .heroRight {
    padding-inline: 30px;
  }
}
